

attrs==19.3.0

bpython==0.18

#distro-info===0.23ubuntu1
Django==2.2.12

gunicorn==20.0.4

#python-apt==2.0.0+ubuntu0.20.4.7
#python-debian===0.1.36ubuntu1

#ubuntu-advantage-tools==27.6

virtualenv==20.14.0


click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
